name: Backend CI/CD

on:
  workflow_dispatch:
    inputs:
      aws-region:
        required: false
        type: string
        default: "eu-north-1"
      image-tag:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install Dependencies
        run: cd apps/backend/auth-service && npm install

      - name: Run Unit Tests (Skipping Integration Tests)
        run: |
          cd apps/backend/auth-service
          npm test -- --testPathIgnorePatterns=integration

      # Build & Push only if tests pass
      - name: Configure AWS credentials
        if: success()
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ inputs.aws-region }}
          role-session-name: GitHubActions-${{ github.run_id }}

      - name: Login to Amazon ECR
        if: success()
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Image
        if: success()
        run: docker build -t auth-service:${{ inputs.image-tag }} ./apps/backend/auth-service

      - name: Tag for ECR
        if: success()
        run: |
          docker tag auth-service:${{ inputs.image-tag }} \
          ${{ steps.login-ecr.outputs.registry }}/auth-service:${{ inputs.image-tag }}

      - name: Push to ECR
        if: success()
        run: docker push ${{ steps.login-ecr.outputs.registry }}/auth-service:${{ inputs.image-tag }}
