name: '[ECR] Build & Push Frontend'
on:
  workflow_dispatch:
    inputs:
      aws-region:
        required: false
        type: string
        default: 'eu-north-1'


permissions:
  id-token: write
  contents: read

jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ inputs.aws-region }}
          role-session-name: GitHubActions-${{ github.run_id }}  
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      # 1. BUILD with local tag
      - name: Build Frontend Image
        run: |
          docker build -t frontend:1.0 ./apps/frontend


      # 2. SECURITY GATE: Scan the built image
      - name: Scan Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'frontend:1.0'
          format: 'sarif'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-results.sarif'

      # (Optional) Upload report to GitHub Security tab
      - name: Upload Trivy Results to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

      # 3. TAG with full ECR URL  
      - name: Tag for ECR
        run: |
          docker tag frontend:1.0 ${{ steps.login-ecr.outputs.registry }}/devops/frontend:1.0

      # 4. PUSH to ECR
      - name: Push to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/devops/frontend:1.0