name: 'Infrastructure Deployment'

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Select Terraform action"
        required: true
        options:
          - plan
          - apply
          - destroy
        
      environment:
        type: choice
        description: "Select environment"
        options:
          - dev
          - prod
        required: true
      
      aws-region:
        description: "AWS region"
        type: string
        default: 'eu-north-1'
        required: false

permissions:
  id-token: write           # For OIDC authentication
  contents: read            # For checking out code
  pull-requests: write       # For commenting plan on PRs (if using PR triggers)

jobs:
  terraform:
    name: "Terraform ${{ github.event.inputs.action }} - ${{ github.event.inputs.environment }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure
    environment: ${{ github.event.inputs.environment }}  # Environment protection

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ github.event.inputs.aws-region }}
          role-session-name: "GitHubActions-${{ github.run_id }}"
      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3


      - name: Terraform Init
        id: init
        run: |
          terraform init \
            -backend-config="bucket=my-terraform-backend-albert" \
            -backend-config="region=${{ github.event.inputs.aws-region }}" \
            -backend-config="key=albertdevops/terraform/${{ github.event.inputs.environment }}/terraform.tfstate" \
            
      - name: Terraform Validate
        id: validate
        run: terraform validate
      
      - name: Terraform Plan
        id: plan
        if: ${{ github.event.inputs.action == 'plan' || github.event.inputs.action == 'apply' }}
        run: |
          terraform plan \
            -var-file="./env/${{ github.event.inputs.environment }}.tfvars" \
            -out=tfplan \

      - name: Terraform Apply
        id: apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve tfplan
        env:
          TF_IN_AUTOMATION: true
      - name: Terraform Destroy
        id: destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: |
          echo "⚠️  DESTROYING INFRASTRUCTURE IN ${{ github.event.inputs.environment }} ⚠️"
          terraform destroy \
            -var-file="./env/${{ github.event.inputs.environment }}.tfvars" \
            -auto-approve \     
      