name: 'Test Infrastructure'

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Plan or Apply?"
        required: true
        options:
          - plan
          - apply
          - destroy
        
      environment:
        type: choice
        description: "Select environment"
        options:
          - dev
          - prod
        required: true

permissions:
  id-token: write
  contents: read

jobs: 
  terraform:
    runs-on: ubuntu-latest
    defaults: 
      run: 
        working-directory: ./infrastructure

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-north-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init -upgrade \
            -backend-config="bucket=my-terraform-backend-albert" \
            -backend-config="region=eu-north-1" \
            -backend-config="key=albertdevops/terraform/${{ inputs.environment }}/statefile.tfstate"

      - name: Terraform Plan
        if: ${{ inputs.action == 'plan' || inputs.action == 'apply' }}
        run: terraform plan -var-file=./env/${{ inputs.environment }}.tfvars

      - name: Terraform Apply
        if: ${{ inputs.action == 'apply' }}
        run: terraform apply -auto-approve -var-file=./env/${{ inputs.environment }}.tfvars

      - name: Terraform Destroy
        if: ${{ inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve -var-file=./env/${{ inputs.environment }}.tfvars
